{% extends 'template_base.html' %}

{% block content %}
  {% if validlink %}
    <p>Por favor informe e confirme a sua nova senha</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nova senha: </label>
          </td>
          <td>
            {{ form.new_password1 }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme a nova senha: </label>
          </td>
          <td>
            {{ form.new_password2 }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Trocar a senha"></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h2>Não foi possível dar prosseguimento ao reset de senha</h2>
    <p>O link de reset de senha está inválido, provavelmente porque já
    foi usado. Por favor inicie novamente o processo.
    </p>
  {% endif %}

{% endblock %}
