{% extends 'template_base.html' %}

{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Contas de {{ user.username }}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="{% url 'financas:nova_conta' %}">Criar nova conta</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome da conta</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in todas_contas %}
                    <tr>
                        <td><a href="{% url 'financas:detalhe_conta' conta.id %}">{{ conta.nome }}</a></td>
                        <td>{{ conta.saldo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
