{% extends 'template_base.html' %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Seu usuário e/ou senha estão incorretos. Tente novamente.
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>
            Sua conta não tem acesso a essa página. Para prosseguir,
            faça login com uma conta que tenha acesso
        </p>
    {% else %}
        <p>Faça o login para visualizar essa página</p>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <div class="form-floating mb-2">
        <input type="text" name="username" class="form-control" placeholder="Informe o e-mail" required>
        <label for="username" class="form-label">Usuário</label>
    </div>

    <div class="form-floating mb-2">
        <input type="text" name="password" class="form-control" placeholder="Informe a senha" required>
        <label for="password" class="form-label">Senha</label>
    </div>

    <button class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

<div class="row justify-content-center align-items-center g-2 mt-1">
    <div class="col"><a href="{% url 'password_reset' %}">Recuperar a senha</a></div>
</div>

{% endblock %}