<h1>Estatísticas</h1>
<hr>

<h3>Número de perguntas cadastradas: {{ total_questions }}</h3>
<h3>Número de opções cadastradas: {{ total_choices }}</h3>
<h3>3 Opções com mais votos</h3>
<ul>
    {% for choice in most_voted_choices %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} voto{{ choice.votes|pluralize }}</li>
    {% endfor %}
</ul>

<h3>Perguntas com mais votos</h3>
<ul>
    {% for question in questions_with_more_votes %}
        <li>{{ question.question_text }} -- {{ question.total }}</li>
    {% endfor %}
</ul>

<h3>Perguntas com menos votos</h3>
<ul>
    {% for question in questions_with_less_votes %}
        <li>{{ question.question_text }} -- {{ question.total }}</li>
    {% endfor %}
</ul>